<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= image_tag 'new.png', :class => "icon-title" %>
      Nueva Marca de Vehículo
      <%= image_tag 'new.png', :class => "icon-title", :style =>"float:right" %>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="form-cust">
      <%= render 'form' %>
    </div>
  </div>
</div>

