<div class="form-group">
  <div class="col-xs-11">
    <%= f.text_field :work, :class => "form-control" %>
    <%= f.semantic_errors :work %>
    <%= link_to_remove_association "borrar", f %>
  </div>
</div>
