/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logo-menu {
  margin-bottom: 19px;
  margin-left: 14px;
  margin-top: 10px;
  width: 247px;
}

.small-icon {
  width: 17px;
}

.medium-icon {
  width: 24px;
}

.show-info {
  color: #999999;
  font-weight: normal;
  line-height: 1;
}

.show-label {
  float:right !important;
  text-align: right;
}

.icon-title {
  margin-right: 12px;
  width: 36px;
  float: left;
}

.icon-modal-title {
  float: left;
  margin-right: 5px;
  margin-top: 3px;
  width: 18px;
}

.field_with_errors label {
  color: #a94442;
}

.field_with_errors .form-control {
  border-color: #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.field_with_errors .form-control:focus {
  border-color: #843534;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}
.error_explanation {
  color: #a94442;
}

.errors li {
  color: #a94442;
}
.row-links {
  font-size: 20px;
  margin-bottom: 26px;
  margin-top: 26px;
  text-align: center;
}

.btn-rm {
  float: left;
  font-size: 22px;
  margin-left: 5px;
  margin-top: 2px;
}

.frm-con-nest {
  float: left;
  width: 90%;
}

.nested-fields-list {
  margin: 6px 0 0;
}

.budget-ul {
  color:red;
  font-size: 18px;
}

.no-padding {
  padding: 0;
  margin-top: 7px;
}

.fa-2 {
  font-size: 22px;
}

.show-tb {
  width: 38%;
}

.nest-veh {
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 10px;
  min-height: 20px;
  padding: 11px;
}

.rm-vh-btn {
  font-size: 22px;
  margin-bottom: 9px;
  margin-left: 15px;
}

.span-err {
  color: #a94442;
  display: block;
}

.label-error{
  color: #a94442;
}

.my-col-tab {
  width: 33.3333%;
  padding-left: 36px;
  padding-right: 36px;
  float: left;
}
.table-lab {
  text-align: center;
}
.row-top {
  margin-top: 30px;
}
.row-links-work {
  font-size: 20px;
  margin-bottom: 28px;
  margin-top: 39px;
  text-align: center;
}
.row-links-work p {
  color: red;
  font-size: 15px;
  margin-top: 10px;
}
.th-tab-show {
  color: #337ab7;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.frm-no-marg-bot{
  margin-bottom: 0;
}

.total-budget{
  font-size: 20px;
  height: 41px;
}
.in-gr-ad-tot {
  font-size: 20px;
}
.logo-budget {
  margin-bottom: 19px;
  width: 455px;
}

.tex-field-to-label {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  width: 100%;
}

.budget-del-lab {
  font-weight: normal;
  margin-bottom: 0;
}

.title-budget  {
  text-align: center;
}
.title-budget h1 {
  font-weight: 800;
}

.panel-top{
  margin-top: 10px;
}


.btn-save-bud {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #337ab7;
  padding:0;
}
.btn-save-bud:hover{
  color: #23527c;
  text-decoration: underline;
}

.nest-form-group {
  margin-bottom: 12px;
}

.option-links {
  text-align: center;
  margin-bottom: 31px;
}


.has-error a.chosen-single {
  border: 1px solid #a94442;
  color: #a94442;
}

.tr-months button{
  margin-left: 5px;
}

.r-calendar {
  text-align: center;
  margin-bottom:10px;
}

.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
  color: #fff;
}
