.help-container {
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

.help-container img{
  border: 1px solid black;
}

.center-text {
  text-align: center;
}

.image-help-1 {
  height: 117px;
}

.image-help-2 {
  height: 117px;
}

.image-help-3 {
  max-height: 95px;
}

.image-help-4 {
  height: 280px;
  float: left;
  border:none!important;
}

.list-customer-fields {
  float: left;
}

.list-customer-fields li{
  margin-bottom: 20px;
}

.image-help-5 {
  height: 280px;
  float: left;
  border:none!important;
}

.list-veh-fields {
  float: left;
}

.list-veh-fields li{
  margin-bottom: 20px;
}

.image-help-6 {
  border:none!important;
}

.image-help-7 {
  height: 200px;
}

.image-help-8 {
  height: 120px;
}

.image-help-9 {
  height: 117px;
}

.image-help-10 {
  width: 60%;
}

.image-help-11 {

}

.list-acc-fields li {
 list-style: none;
 margin-bottom: 10px;
}

.small-icon {
  border:none!important;
}

.image-help-12 {
  height: 300px;
  margin-bottom:10px;
}

.image-help-13 {
  border: none!important;
  height: 50px;
}

.image-help-14 {
  border: none!important;
  height: 50px;
}
.image-help-15 {
  border: none!important;
  height: 310px;
}
.image-help-16 {
  width: 319px;
}

.image-help-17 {
  height: 54px;
}

.image-help-18 {
  height: 142px;
  margin-bottom: 10px;
}

.image-help-19 {
  border: medium none !important;
  float: left;
}

.image-help-20 {
  height: 113px;
}

.image-help-21 {
  height:388px;
}

.image-help-22 {
  height:262px;
  margin-bottom: 10px;
}

.image-help-23 {
  height: 477px;
  margin-bottom: 10px;
}

.image-help-44 {
  border: medium none !important;
  height: 351px;
}


.image-help-24 {
  height: 204px;
  margin-bottom: 10px;
}

image-help-25 {
  height: 107px;
}
