/*
body {
  color: black;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  background: #2E64FE;
}

a {
  color: #2E64FE;
}
a:hover, a:focus {
  color: #08088A;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #2E64FE;
}

.navbar-background {
  background-color: #2E64FE;
}

.navbar-top-links li a {
  color: white;
  min-height: 50px;
  padding: 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: white;
  color: #2E64FE;
  text-decoration: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: white;
    border-color: none;
}

.navbar-top-links .dropdown-menu li a {
  min-height: 0;
  padding: 3px 20px;
  color: #2E64FE;
}

.navbar-top-links .dropdown-menu li a:hover {
  background-color: #2E64FE;
  color: white;
}

.navbar-default {
  border-color: white;
}
.navbar-background2 {
  background: #2E64FE;
}

.sidebar-nav a{
  color: white;
}
.sidebar ul li a.active {
  background-color: white;
  color:#2E64FE;
}
.sidebar ul li {
  border-bottom: none;
}

#page-wrapper {
 background-color: white;
 border-left: 1px solid white;
}


.form-control {
  background: none;
  color:black;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #D8D8D8;
}

.chosen-container-single .chosen-single {
    background: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: black;
    font-size: 14px;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

.remove_fields {
  color:red;
}
 .add_fields {
  color:#04B404;
 }

.show-label {
  float: right !important;
  text-align: right;
  color: black;
}
.show-info h4{
  color: #A4A4A4;
}

.panel {
  background: none;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.panel-default > .panel-heading {
  border-color: black;
}


.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #E6E6E6;
}

.option-links .row-links-work {
  font-size: 34px;
}

.success {
  color:#04B404;
  background:none!important ;
}
.danger {
  color: red;
  background:none!important;
}


.table > thead > tr > td.success, .table > tbody > tr > td.success, .table > tfoot > tr > td.success, .table > thead > tr > th.success, .table > tbody > tr > th.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > tbody > tr.success > td, .table > tfoot > tr.success > td, .table > thead > tr.success > th, .table > tbody > tr.success > th, .table > tfoot > tr.success > th {
    background: none;
}
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
    background: none;
}


.nest-veh {
  background: none!important;
}
.nested-fields .nest-veh label{
  color: black!important;
}

***************************************************/
