

.navbar-background {
  background: url(asset-path("background_footer.jpg"));
}
.navbar-background2 {
  background: url(asset-path("2.png"));
}

#page-wrapper {
 background: url(asset-path("2.png"));
}
.sidebar-nav a{
  color: white;
}
.sidebar ul li a.active {
  background-color: black;
}

