.logo-budget {
  margin-bottom: 5px;
  width: 390px;
}

.table {
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  text-align: left;
}
table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border:none;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}
